.navbar .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    display: flex;
}
.list__container{
    display: flex;
    gap: 20px;
}
.list {
    color: var(--Grayish-Blue);
    position: relative;
    padding: 25px 0;
    cursor: pointer;
}
.list::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    background: linear-gradient(45deg ,var(--Lime-Green),var(--Bright-Cyan) );
}
.list:hover::after{
    width: 100%;
}
.hamburger{
    display: none;
}
.mobile__navbar{
    flex-direction: column;
    gap: 15px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 125%;
    width: 100%;
    max-width: 438px;
    padding: 30px 20px;
    background: var(--White);
    display: none;
    border-radius: 5px;
}

@media screen and (max-width:768px) {
    .navbar .wrapper{
        padding: 20px 0;
    }
    .hamburger{
        display: flex;
    }
    .mobile__navbar{
        display: flex;
    }
    .list__container{
        display: none;
    }
    .req_btn{
        display: none;
    }
}