*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Font);
}

.wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
p{
    font-size: var(--font-size);
}
li{
    list-style: none;
    cursor: pointer;
}

@media (max-width:768px) {
    .disable_scroll_in_mobile{
        overflow: hidden;
    }
}

.req_btn{
    background: linear-gradient(45deg ,var(--Lime-Green),var(--Bright-Cyan) );
    color: var(--White);
    font-weight: 700;
    border: 0;
    padding: 13px 35px;
    border-radius: 50px;
    cursor: pointer;
}
.req_btn:hover{
    opacity: 0.5;
}